[build-system]
requires = ["setuptools"]
build-backend = "setuptools.build_meta"

[project]
version = "0.19.7"
name = "absbox"

dependencies = [
    "requests ==2.27.1",
    "pandas ==1.4.3",
    "numpy ==1.23.1",
    "matplotlib ==3.5.2",
    "rich",
    "pyxirr",
    "pyspecter",
    "graphviz"
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-ra -q"
testpaths = [
    "absbox/tests",
]

[project.optional-dependencies]
test = [
    "pytest",
    "jsondiff",
    "deepdiff",
]
