sphinx==5.3.0
sphinx_rtd_theme==1.1.1
readthedocs-sphinx-search==0.3.2
sphinxemoji
notebook
myst-nb
absbox
pyxirr
toolz
lenses
dateparser
more_itertools
pandas
python-dateutil
sphinx_changelog
sphinxcontrib-googleanalytics